<!DOCTYPE html>
<html>
<head>
    
</head>

<body>

<header>
 
</header>

<main>

<h1>Network Scanner Payload (Go)</h1>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <nav>
      <a href="/" class="active">Home</a>
      <a href="/zoo">Malware Zoo</a>
      <a href="/c2">C2 Server</a>
      <a href="/docs">Documentation</a>
    </nav>



        <p>
                This website hosts educational malware samples written in Go.
        </p>

<ul class="download-list">
  <li>
    <a href="/static/net_scan.exe">Download net_scan.exe</a>
  </li>
</ul>


</main>

</body>
</html>